.header  {
  display: flex;
  align-items: center;
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  flex: initial
}

ul {
  /* this removes the dots on the list items*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
}

li {
  padding: 32px 4px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links,
.right-links {
  margin-right: auto;
  flex: initial;
}

.left-links {
  align-self: start;
}

.right-links {
  align-self: end;
}